.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

html{
    background-color: #E7E6E6;
}

.book {
    width: 200px;
    height: 260px;
    margin: 10px;
    /* background-color: #fff; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    overflow: scroll;
    flex-direction: column; 
    float: left;
}

.book .image {
    width: 160px;
    height: 75%;
    margin: 10px 20px;
    /* background-color: #fff; */
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #000;
    text-align: center;
}